*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden;*/
} 

.loginnav{
    border: 1px solid;
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    /* height: 40px; */
    border: none !important;
}
.loginnav.btn{
    padding: 1px !important;
}
.loginnav a{
    text-decoration: none;
}
.logo{
    width: 11% !important;
    height: 6%;
    margin: 10px;
}
.form-control .me-2{
    width: 50%;
}
.slide{
    margin-bottom: 5%;
}
.card-group{
    margin:10px;

}
.card{
    margin: 10px;
}

.h2 span {
    color: #fb6b26;
}
.a{
    margin-top: 5%;

}
.h2 a{
    text-decoration: none;
    margin-left:25px;
   
}
.tdduan{
    margin-left: 25px;
} 
.mb-4 a{
    text-decoration: none;

}
.list-menu_small{
    position: absolute;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.4);
    display: none;
    width: 250px;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    z-index: 999;
    margin-left: 1px;
    margin-top: 2px;
    

}
.list-menu_small li{
    list-style: none;
    display: block;
    padding-top: 5px;
    margin-left: 5px;
    


}
.list-menu_small li:hover{
    width:80%;
    
}
.list-menu_small li a:hover{
    color: rgb(12, 12, 12);
   
}
.list-menu_small li{
    width: 100%;
 
    
}

.list-menu_small a{
    text-decoration: none;
    color: #070606;
}
.nav-item.list-menu:hover .list-menu_small{
    display: block;
}
.loginfm{
    width: 98%;
    background: url('../image/wp8063327.jpg');
    background-size: cover;
    background-position-y: -80px;
    margin-left: 10px;
}
.loginform{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#demoForm{
    margin-left: 30%;
    max-width: 600px;
    background: rgba(135, 134, 134, 0.5);
    flex-grow: 1;
    padding: 70px 70px 80px;
    box-shadow: 0px 0px 17px 2px rgba(97, 95, 95, 0.8);
}
.boxtitle{
    font-size: 25px;
    color: rgb(9, 9, 11);
    text-align: center;
    margin-bottom: 30px;
}
.mb10{
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}
.boxcenter{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dkf{
    border-radius: 5px;
    width: 100%;
}
.formdky{
    padding: 75px;
}
.smf{
    border-radius: 3px ;
    background-color: rgb(160, 189, 244);
}
.qpas{
    width: 45%;
}
.smf:hover{
    background-color:rgb(65, 65, 224) ;
    color: #f5f5f5;
}
.tinhnangt a{
    text-decoration: none;
}
.hinh{
    width: 30%;
}

.slide{
    margin-left: 5px;
}
/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  .image-table {
    display: table;
    width: 100%;
    border-spacing: 10px;
  }

  .image-row {
    display: table-row;
  }
.row_cell{
    width: 400px;
    position: relative;
}
  .image-cell {
    display: table-cell;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
    transform-origin: center center;
  }

  .image-cell img {
    width: 400px;
    height: auto;
    border-radius: 10px;
  }

  .image-cell:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    
  } */
  .spham{
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .hinhsp{
    transform-origin: center center;
    overflow: hidden;
    border-radius: 10px;
    border: none !important;
    box-shadow: 0px 4px 30px 4px rgba(0, 0, 0, 0.07) !important;
  }
  .hinhsp img{
    transition: 0.5s;
    width: 335px;
    height: 268px;
    border-radius: 10px 10px 0 0;
    border-radius: 10px;
  }
  .hinhsp img:hover{
    transform: scale(1.15);
    
}
  .tour{
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
}
.img-tour{
    transform-origin: center center;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;

}
.img-tour img{
    transition: 0.5s;
    width: 500px;
    height: 300px;
    border-radius: 10px 10px 0 0;
    border-radius: 10px;
}
.img-tour img:hover{
    transform: scale(1.15);
    
}
.boxcontent {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
  }
  .boxcontent2 {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #eee;
  }
  .boxft {
    padding: 10px;
    background-color: bisque;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }


.nav-item a:hover{/* hover các chức năng */
    background-color: #fafafa !important;
    color: #10c065 !important;
}

.btn-outline-success { /* hover box các chức năng */
    --bs-btn-hover-bg: #487495 !important;
    --bs-btn-border-color:black !important;
    --bs-btn-color: rgb(255, 255, 255) !important;
    --bs-btn-active-bg: rgb(184, 69, 17) !important;
}
#loginadmin{/* căn chỉnh login admin */
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
}

#slogan{/* màu chữ trên slide */
    color: rgb(246, 246, 245);
    font-weight: bold;

}

 #cuon{ 
    height: 69px;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1;
    font-weight: bold;
} 
.logo{
    all: unset;
    width: 73px;
}


#tim{/* box tìm kiếm */
    background-color: #4e9548 ;
    color: #fff;
    margin-left: 3px;
    
}
/* .d-flex input{
    border-radius: 4px;
    padding: 6px;
    outline: none;
    border: 1px solid #bdbaba;
} */
#dm{ /* màu chữ danh mục */
    color: #000;
}

.card-title{/* màu chữ card sản phẩm */
    color:rgb(19, 93, 229) !important ;
}
.card-title:hover{
    color: #4e9548 !important;
}
.btn-primary:hover{
    color: #090a09 !important ;
    background-color:  #4e9548 !important;

}
#listkh{
    color: #fb6b26;
}   
.textitd{ /* chữ phần giới thiệu*/
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    text-indent: 15px;
}
.slgt{
    width: auto;
    height: auto;
}
.btn{ /*chữ box đăng ký đăng nhập, tìm kiếm*/
    font-weight: bold !important;
    /* --bs-btn-padding-x: 0rem !important; */
    
    
}
.list-menu_small{ /*list danh mục*/
    background-color: #fafcfa  !important ;
    
}

.footer{
    background-image: url(../image/footer-background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 10px;
}
.abc{
    color: #fff;
}
body{
    overflow-x: hidden;
    margin-top: 100px !important;
}

.accbl{
    display: flex;

}
.showbl{
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
}
.texttk{
    display: flex;
}
.tentk{
    margin: 3px;
}
.bannerqc{
    margin: 50px ;
    transition: transform 1s ease-in-out
}
  
.bannerqc:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(16, 9, 9, 0.8);
  }
  